.buttonWrapper {
    border: 0;
    width: 100%;
    padding: 0.2% 0.5%;
}

.button {
    width: 100%;
    font-size: 2rem;
    border-radius: 30px;
    white-space: nowrap;
}

.buttonIcon {
    border: none;
    background: none;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonIcon:hover {
    background-color: aqua;
}

